<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Title</title>
    <link rel="stylesheet" th:href="@{/static/chat.css}"/>
</head>
<body>

<div>


    <div>Name: <p th:text="${aboutZap.FirstName}"></p></div>
    <div>Last Name: <p th:text="${aboutZap.LastName}"></p></div>
    <div>Father Name: <p th:text="${aboutZap.FatherName}"></p></div>
    <div>City: <p th:text="${aboutZap.City}"></p></div>
    <div>School: <p th:text="${aboutZap.School}"></p></div>
    <div>Class: <p th:text="${aboutZap.ClassNumber}"></p></div>
    <div>Email: <p th:text="${aboutZap.Email}"></p></div>
    <div>Phone: <p th:text="${aboutZap.Phone}"></p></div>
    <div>About this person: <p th:text="${aboutZap.about}"></p></div>




</div>

<div class='chat'>
    <div class='chat-messages'>
        <div class='chat-messages__content' id='messages'>
            Загрузка...
        </div>
    </div>
    <div class='chat-input'>
        <form method='post' id='chat-form'>
            <input type='text' id='message-text' class='chat-form__input' placeholder='Введите сообщение'> <input type='submit' class='chat-form__submit' value='=>'>
        </form>
    </div>
</div>


</body>
</html>