<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Title</title>
</head>
<body>

<div>


    <div>Name: <p th:text="${aboutZap.FirstName}"></p></div>
    <div>Last Name: <p th:text="${aboutZap.LastName}"></p></div>
    <div>Father Name: <p th:text="${aboutZap.FatherName}"></p></div>
    <div>City: <p th:text="${aboutZap.City}"></p></div>
    <div>School: <p th:text="${aboutZap.School}"></p></div>
    <div>Class: <p th:text="${aboutZap.ClassNumber}"></p></div>
    <div>Email: <p th:text="${aboutZap.Email}"></p></div>
    <div>Phone: <p th:text="${aboutZap.Phone}"></p></div>
    <div>About this person: <p th:text="${aboutZap.about}"></p></div>




</div>

</body>
</html>